<div class="container-fluid">
    <div class="row divCols">

        <div class="col-12 col1">
            <h2>Join our community</h2>
            <h3>30-day, hassle-free money back guarantee</h3>
            <p>Gain access to our full library of tutorials along with expert code reviews. 
            Perfect for any developers who are serious about honing their skills.</p>
        </div>

        <div class="col-12 col-md-6 col2">
            <h2>Monthly Subscription</h2>
            <h3>&dollar;29</h3>
            <h4>per month</h4>
            <p>Full access for less than &dollar;1 a day</p>
            <button type="submit" class="text-center">Sign Up</button>
        </div>

        <div class="col-12 col-md-6 col3">
            <h2>Why Us</h2>
            <p>Tutorials by industry experts</p>
            <p>Peer &amp; expert code review</p>
            <p>Coding exercises</p>
            <p>Access to our GitHub repos</p>
            <p>Community forum</p>
            <p>Flashcard decks</p>
            <p>New videos every week</p>
        </div>

    </div>
  </div>