/* :root {
    --cyan: hsl(179, 62%, 43%);
    --brightYellow: hsl(71, 73%, 54%);
    --lightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
    --fontSize: 16px;
    --fontFamily: 'Karla', sans-serif;
    --fontWeight1: 400;
    --fontWeight2: 700;
} */

.container-fluid {
    min-height: 100%;
    width: 100%; 
    background-color: hsl(204, 43%, 93%); 
    padding: 50px 0 50px 0;
    overflow: hidden;
}

.divCols {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.col1 {
    height: 250px;
    width: 80%;
    background-color: white;
    padding: 20px;
    text-align: left;
    border-radius: 8px 8px 0 0px;
    box-shadow: 4px 3px 5px rgba(196, 196, 196, 0.541);
}

.col2 {
    height: 250px;
    width: 80%;
    background-color: hsl(179, 62%, 43%);
    padding: 20px;
    text-align: left;
    box-shadow: 4px 3px 5px rgb(196, 196, 196);
}

/* botão col2 */
.col2 button {
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 3px 2px rgba(128, 128, 128, 0.336);

}

.col3 {
    height: 250px;
    width: 80%;
    background-color: hsl(179, 57%, 60%);
    padding: 20px 20px 20px 20px;  
    text-align: left;
    border-radius: 0 0 8px 8px; 
    box-shadow: 4px 3px 5px rgb(196, 196, 196);
}

/* LETRAS */
.col1 h2 { 
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color:hsl(179, 62%, 43%);
    font-weight: 700;
}
.col1 h3 { 
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: hsl(71, 73%, 54%);
    font-weight: 400;
}
.col1 p { 
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: hsl(218, 22%, 67%);
    font-weight: 400;
}

.col2 h3 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    float: left;
}
.col2 h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.527);
    float: left;  
    margin: 7px 0 0 10px;
}

.col2 h2, .col3 h2 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.col2 p, .col3 p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 8px;
    clear: both;
}

.col2 h2 {
    margin-bottom: 20px;
}

.col2 p {
    padding: 10px 0 30px 0;
}


/* responsividade desktop */
@media(min-width: 768px) {
    .col2, .col3 {
        width: 40%;
    }
    .col2 {
        border-radius: 0 0 0 8px;
    }
    .col3 {
        border-radius: 0 0 8px 0;
    }
    .col1 p {
        width: 90%;
    }
}

@media(min-width: 1000px) {
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divCols {
        width: 80%;
    }
    .col1 {
        padding: 35px;
        height: 230px;
    }
        .col1 h2 { 
            font-size: 25px;
        }
        .col1 h3 {
            font-weight: 700;
            padding: 20px 0 10px 0;
        }
        .col1 p {
            width: 80%;
        }
    .col2, .col3 {
        height: 280px;
        padding: 35px;
    }
    .col2 button {
        height: 50px;
    }
}

@media(min-width: 1300px) {
    .divCols {
        width: 70%;
    }
}

@media(min-width: 1400px) {
    .divCols {
        width: 60%;
    }
}
